@import url("http://fonts.googleapis.com/css?family=Raleway|Exo+2|Lato|Open+Sans");

/* -------------------------------------------------------------

version 0.0.2: november 2015, daniel peter

------------------------------------------------------------- */

/* -------------------------------------------------------------

reset

------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
header, nav, footer, section,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
pathline, parallax,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0; 
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

html {
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  font-size: 62.5%; 
  /* Keeps page centered in all browsers regardless of content height */
  overflow-y: scroll; 
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -webkit-text-size-adjust: 100%; 
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -ms-text-size-adjust: 100%; 
}

body {
  /*background-color: #b7c9c6;*/
  background-color: #ffffff;
  font-family: 'Open Sans','Raleway','Lato','Exo 2','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------

clearing

------------------------------------------------------------- */

.container:after,
#header-menu:after,
.entry-container:after,
.entry-header:after,
.widget:after,
#supplementary:after,
.site-info:after,
.featued-content-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* -------------------------------------------------------------

structure

------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;

	font-size: 14px;
	color: #000000;

  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

h1, h2, h3 {
	margin-bottom: 15px;
	text-transform: lowercase;
  font-family: 'Open Sans','Raleway', sans-serif;
	font-weight: normal;
	color: #556499;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 100%;
}

p, ol, ul {
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

blockquote {
	padding: 0 3em;
	background: no-repeat 1em 0;
	font-style: italic;
}

a:link {
	text-decoration: none;
	color: #263672;
}

a:hover, a:active {
	text-decoration: none;
	color: #999999;
}

a:visited {
	color: #8B985F;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

.img_circle {
  /* round corners */
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.img_shadow {
  box-shadow: 0px 5px 5px #888888;
}



/* -------------------------------------------------------------

Header

------------------------------------------------------------- */
header {
  display: block;
	width: 100%;
  position: relative;
}

.parallax {
  -webkit-perspective: 1px; /* Chrome, Safari, Opera */
  perspective: 1px;

  -webkit-perspective-origin: 100% 50%; /* Chrome, Safari, Opera */
  perspective-origin: 100% 50%;

  overflow-x: hidden;
  overflow-y: auto;

  height: 140px;
  width: 100%;
}

.parallax_layer_back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 150px;
  min-width: 950px;

  background: #ffffff;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-transform: translateZ(-1px) scale(2); /* Chrome, Safari, Opera */
  -ms-transform: translateZ(-1px) scale(2); /* IE 9 */
  transform: translateZ(-1px) scale(2);

  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.parallax_layer_front{
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  -ms-transform: translateZ(0); /* IE 9 */
  transform: translateZ(0);

  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}


.img1 {
	background-image: url(images/img01.jpg);
}

.img2 {
  background-image: url(images/img02.jpg);
}

.img3 {
	background-image: url(images/img03.jpg);
}

.img4 {
	background-image: url(images/img04.jpg);
}


header h1 {
	width: 250px;
	padding: 40px 0px 0px 680px;
	letter-spacing: -2px;
	font-size: 40px;
	margin-bottom: 0px;
}

header h1 a {
	text-decoration: none;
	color: #ffffff;
}

/* -------------------------------------------------------------

Page

------------------------------------------------------------- */
section {
  display: block;
	width: 950px;
}

/* left column */
#sidebar {
	float: left;
	width: 180px;
	background: white;
}

/* main middle column */
#content {
	float: left;
	width: 500px;
	background: white;
}

/* right column */
#contactbar {
	float: left;
	width: 250px;
	background: white;
}


.post {
	padding: 0 10px 0 10px;
}

.post h1, .post h2, .post h3 {
}

.post .title {
	padding: 0 0 5px 0;
	background: url(images/img_titleline.gif) repeat-x left bottom;
}

.post .title span {
	padding-right: 30px;
	background:  no-repeat right center;
}

.post .link {
	text-decoration: none;
	color: #333333;	
	font-style: italic;
}


.box {
	padding-top: 5px;
}

.box .title {
	height: 33px;
	padding: 10px 0 0 20px;
	background: repeat-x;
	font-size: 18px;
}

.box ul {
	padding: 0 5px 0 5px;
	list-style: none;
}

.box li {
	padding: 5px 0;
	background: url(images/img_boxline.gif) repeat-x;
}

.box li.active {
	background: none;
}

.box h3 {
	font-size: 85%;
	font-weight: bold;
}

.box p {
	line-height: normal;
}

.box a {
	padding-left: 10px;
	background: url(images/img_boxticker.gif) no-repeat 0 5px;
}

/* -------------------------------------------------------------

Pathline

------------------------------------------------------------- */

.pathline {
  width: 100%;
  line-height: 1;

  text-decoration: none;
  /*border-bottom: 1px solid #cccccc;*/

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 14px;
  padding-right: 14px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Open Sans','Raleway', sans-serif;
  font-size: 150%;

  color: #fff;
  /*background-color: rgba(20, 20, 20, 0.8);*/

}


a.path, a.path:link, a.path:visited, a.path:hover { 
  font-weight: 900;
	color: #fff;
  /*font-size: 85%;*/
  text-decoration: none;
}

a.pathlink, a.pathlink:link, a.pathlink:visited, a.pathlink:hover {
  font-weight: 100;
	color: #fff;
  font-size: 60%;
  text-decoration: none;
}


/* -------------------------------------------------------------

Footer

------------------------------------------------------------- */
footer {
  display: block;
	width: 100%;
	min-height: 50px;
	background: #595C6D no-repeat center top;
}

footer p {
	margin: 0;
	padding: 14px 20px;
	line-height: normal;
	font-size: 77%;
	color: #fff;
}

footer a {
  color: #fff;
	/*color: #565736;*/
}

footer a:hover {
	text-decoration: underline;
}

#legal {
	float: left;
}

p#links {
	float: right;
	margin: 0;
  padding-right: 10px;
}


/* -------------------------------------------------------------

Play

------------------------------------------------------------- */

.playButton {
  background-color: rgb(20,20,20);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25em;

  opacity: 0.8;
  filter: alpha(opacity=80);

  /* round corners */
  -webkit-border-radius: 1em;
  -khtml-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;

  position: relative;
  top: 50%;
  zoom: 100%; /* old IE */
  padding: .5em 1em;
  color: white;
}

.playBackground {
  background-color: rgb(0,0,0);

  opacity: 0.0;
  filter: alpha(opacity=0);

  position: absolute;
  top: 0px; left: 0px;
}

/* -------------------------------------------------------------

navigation menu

-------------------------------------------------------------- */

nav {
  display: block;

  position:relative;
  width: 100%;  
  min-width: 360px;
  height: 40px;
  
  float: left;
  overflow: visible;  
  z-index: 10;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  margin-top:0px;
  margin-bottom:20px;
  margin-left:0px;

  background-image: -webkit-linear-gradient(#fff, #ddd);
  background-image: -moz-linear-gradient(#fff, #ddd);
  background-image: -ms-linear-gradient(#fff, #ddd);
  background-image: -o-linear-gradient(#fff, #ddd);
  background-image: linear-gradient(#fff, #ddd);
  border-bottom: 1px solid #cccccc;
}

nav ul {
  position:relative;
  float: left;
  width:auto;
  height:auto;      
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;  
  margin: 0;
  list-style: none;
}

nav li {
  float: left;
  position:relative;  
  display: inline-block;
  padding: 0;
  margin: 10px 10px 10px 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav a {
  display: block;
  padding-top: 0px;
  padding-bottom: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;  
}

nav li:hover {
  /* background-color: #CCC; */
}

nav li:hover > a {
  color:#556499;
}

/* shows submenus */
nav li:hover > ul#subnav {
  display: block;
  z-index: 99;
}

/* shows menu arrow */
nav li:hover > span > .arrow-down {
  opacity: 1.0;
  filter: alpha(opacity=100);

  border-top: 5px solid #556499;
}

nav span {
  vertical-align: middle;
}


/* sub-menu items */
ul#subnav {
  position:absolute;
  width:auto;
  min-width: 200px;
  
  height:auto; 

  /* initally hide */
  display: none;
  z-index: 10;    

  /* using effect to dropdown
  opacity: 0.8;
  filter: alpha(opacity=80);
  max-height: 0;
  overflow: hidden;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;      

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  */

  padding: 0;
  
  background-color: rgba(255, 255, 255, 0.95);

  background-image: -webkit-linear-gradient(#fff, #ddd);
  background-image: -moz-linear-gradient(#fff, #ddd);
  background-image: -ms-linear-gradient(#fff, #ddd);
  background-image: -o-linear-gradient(#fff, #ddd);
  background-image: linear-gradient(#fff, #ddd);
  
  /* round corners */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

ul#subnav li a{
  display:inline-block;
  color:#999;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;    
}

ul#subnav > li {
  padding: 0;
  margin: 0;
}

ul#deepnav > li {
  padding: 0;
  margin: 0;
}

ul#subnav li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

ul#subnav li:before {
  content: none;
}

ul#subnav a.active {
  color: #111;
}

ul#subnav li:hover > a {
  color: #333;
  box-shadow: inset 2px 0px #52A792;  
}


/* arrows */
.arrow{
  display: block;
  position: relative;

  top: 5px;
  left: 0px;
  float: left;
  width: 0; 
  height: 0; 

  opacity: 0.0;
  filter: alpha(opacity=0);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.arrow up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-bottom: 5px solid #aaa;
}
.arrow down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #aaa;
}

.arrow-down {
  display: block;
  position: relative;

  top: -7px;
  left: 0px;
  float: left;
  width: 0; 
  height: 0; 

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-top: 5px solid #aaa;

  opacity: 0.0;
  filter: alpha(opacity=0);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;    
}

/* menu icon */
#menu-icon {
  /* display: hidden; */
  display: none;
  z-index: 15;

  width: 40px;
  height: 40px;
  background: url(images/img_menu.png) no-repeat center;
  background-size: 40px;

  /* round corners */
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}


/* -------------------------------------------------------------

Special spections

------------------------------------------------------------- */

/* comment box */
span#comment {
  color: #666;
  background-color: #DDF;
  display: block;
}

/* open-positions box */
span#open-positions {
  display: block;
  position: relative;
  /*top: 320px;*/
	padding: 10px 10px 0 10px;

  background-color: #BDC5E0;
  box-shadow: 0px 5px 5px #888888;
}

/* -------------------------------------------------------------

Media query

------------------------------------------------------------- */

/* -- query -- landscape phone and portrait tablet (>= 752px < 960px) */
@media screen and (max-width: 60em) {
  body{
    font-size: 14px;
    width: 100%; /* 950px; */
  }
  section{
    width: 100%;
  }
  #sidebar{
    width: 0px; /* 250px; */
  }
}

/* -- query -- landscape phone and portrait tablet (>= 592px < 752px) */
@media screen and (min-width: 37em) and (max-width: 47em) {
  body{
    font-size: 14px;
    width: 100%; /* 950px; */
  }
  section{
    width: 100%; /* 950px; */
  }
  #sidebar{
    width: 0px; /* 180px; */
  }
  #content{
    width: 390px; /* 500px; */
  }
  #contactbar {
    width: 200px;
  }
}

/* --  query -- portrait phone (>= 480px < 592px) */
@media screen and (min-width: 30em) and (max-width: 37em) {
  body{
    font-size: 16px;
    width: 100%;
    margin: 0;
  }
  h1, h2, h3{
    font-size: 18pt;
  }
  section{
    width: 100%;
  }
  #sidebar{
    width: 100%;
  }
  #content{
    padding-top: 15px;
    width: 100%;
  }
  #contactbar {
    width: 100%;
  }
  /* menu bar */
  nav {
    width: 100%;
  }
  /* color box */
  span#open-positions {
    top: 0;
  }
}


/* --  query -- portrait phone (< 480px) */
@media screen and (max-width: 30em) {
  body{
    font-size: 16px;
    width: 100%;
    margin: 0;
  }
  h1, h2, h3{
    font-size: 18pt;
  }
  section{
    width: 100%;
  }
  header{
    width: 100%;
  }
  .pathline{
    width: 100%;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  #sidebar{
    width: 100%;
  }
  #content{
    padding-top: 35px;
    width: 100%;
  }
  #contactbar {
    width: 100%;
  }
  footer{
    width: 100%;
  }
  /* menu bar */
  nav {
    width: 100%;
    height: 40px;
    float: right;    

    box-shadow: 0px 5px 5px #888888;  
    padding-top: 0px;
    padding-bottom: 5px;
  }
  nav ul {
    display: none;
    position: relative;
    left: 0px;
    top: 0px;
    float: left;
    width:100%;
    height:auto;

    padding-left: 0px;
    padding-right: 0px;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 5px #888888;

    list-style: none;
  }

  nav:hover ul, nav:focus ul {
    display: inline-block;
  }

  nav li {
    float: left;
    width: 100%;
    position:relative;  
    display: block;
    padding: 0;
    margin: 10px 10px 10px 10px;
  }
  nav li:hover ul {
    display: inline-block;
  }

  .arrow-down {
    display: none;
  }

  #topnav a:after {
    content: "+";
    left: 4.4em;
  }

  ul#subnav {
    top: 2px;
    left: 80px;
    max-width: 240px;
  }

  #menu-icon {
    display:inline-block;
    position: relative;
    width: 100%;
	}
  #menu-icon:focus {
    background-color: #ccc;
    /* round corners */
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }
  #menu-icon:focus + ul {
    display: inline-block;
  }
  /* special box */
  span#open-positions {
    top: 0;
  }
}


/* -- print -- */
@media print{ 
  *{
    background:transparent !important;
    color:black !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important
  }
  abbr[title]:after{content: "(" attr(title) ")";}
  pre, blockquote{page-break-inside:avoid;}
  thead{display:table-header-group;}
  tr, img{page-break-inside:avoid;}
  img{max-width:100% !important;}
  p, h2, h3{orphans:3; widows:3;}
  h2, h3{page-break-after:avoid;}
}
